.background {
  background: url (".img/kostka0.png");
  background-size: cover;
  background-color:blue;

}
body {margin: 0;
      padding: 0;}
      h1{background-color:blueviolet
      font-size: 20px;
    text-align: center;}
    

      